@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #E02C6D;
    --secondary-font: 'Ubuntu', sans-serif;
}

/*---------------------------------
            Conmmon Styles
----------------------------------*/
h1{
    font-size: 45px;
}
p{
    font-size: 16px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
span{
    color: var(--primary-color);
}
.container{
    max-width: 90%;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.mt-50{
    margin-top: 50px;
}
.action-btn{
    padding:10px 25px;
    background: var(--primary-color);
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    border-radius: 25px;
    font-size: 16px;
}
.mx-width-50{
    max-width: 50%;
}

/*----------------------------------
            Header Style
-----------------------------------*/
.header h2{
    font-family: var(--secondary-font);
}
.header li{
    padding: 0 10px;
}
.header a{
    padding: 10px 5px;
    font-size: 16px;
    position: relative;
}
.hamburger-icon{
    display: none;
}
.header a:hover{
    border-bottom: 2px solid var(--primary-color)
}
input[type="checkbox"]{
    display: none;
}
#hamburger{
    display: none;
}
#hamburger, #hamburger-icon{
    display: none; 
}
/*---------Header Responsive----------*/
/*  tablet  */
@media (max-width:1000px){
    .header{
        margin-bottom: 100px;
    }
    #hamburger-icon{
        display: block;
        margin-top: 4px;
    }
    .cart{
        margin-top: 4px;
    }
    .nav-menu ul{
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 100%;
        transition: 1s;
    }
    .nav-menu ul li{
        padding: 10px;
    }
    input[type="checkbox"]:checked ~ .nav-menu ul{
        left: 2%;
        width: 300px;
        top: 100px;
    }
}

/*-------------------------------------
            Banner Styles
--------------------------------------*/
.banner{
    display: flex;
    align-items: center;
}
.banner-content p{
    width: 70%;
    color: #3A3A3A;
    margin: 10px 0;
    font-weight: 500;
}
.banner-content a:hover{
    animation: button 1s ease-in-out infinite;
}

@keyframes button {
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1)
    }
}
.banner-img{
    width: 450px;
    height: 450px;
}
.img-box {
    background-image: url(../assets/images/circle-design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
/*----------Banner Responsive-----------*/
/* tablet */
@media (max-width:1000px){
    .banner{
        text-align: center;
        margin: auto;
        flex-direction: column-reverse;
    }
    .banner-content h1{
        margin-top: 30px;
        font-size: 30px;
    }
    .banner-content{
        max-width: 100%;
    }
    .banner-content p {
        width: 100%;
        font-size: 15px;
    }
    .banner-img{
        width: 350px;
        height: 350px;
    }
    .banner-img img{
        width: 100%
    }
}
/* mobile */
@media (min-width: 320px) and (max-width:600px){
    .banner{
        text-align: center;
        margin: auto;
        flex-direction: column-reverse;
    }
    .banner-content{
        max-width: 100%;
    }
    .banner-content h1{
        margin-top: 30px;
        font-size: 25px;
    }
    .banner-content p {
        width: 100%;
    }
    .banner-img{
        width: 350px;
        height: 350px;
    }
    .banner-img img{
        width: 100%
    }
}

/*---------------------------------
        Company Style
----------------------------------*/
.company-logos ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-around;
    margin: 100px;
    position: relative;
}
.company-logos ul::before{
    content: '';
    display: block;
    position: absolute;
    top: -35px;
    left: 0;
    background-image: radial-gradient(#c4c2c2, rgba(250, 249, 249, 0.212));
    width: 100%;
    height: 1px;
}
.company-logos ul::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0;
    background-image: radial-gradient(#c4c2c2, rgba(250, 249, 249, 0.212));
    width: 100%;
    height: 1px;
}
.company-logos ul li a img{
    max-width: 90%; 
}

/*-----------------Company Responsive-----------------*/
/* tablet */
@media (max-width:1000px){
    .company{
        margin-top: 115px;
    }
    .company-logos ul {
        margin: auto;
        grid-template-columns: repeat(4, 1fr);
    }
    .company-logos ul li{
        padding: 5px 15px;
        text-align: center;
    }
    .company-logos ul li a img{
        max-width: 80%; 
    }
}
/* mobile */
@media (min-width: 320px) and (max-width:600px){
    .company{
        margin-top: 115px;
    }
    .company-logos ul{
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        margin: auto;
        justify-content: center;
        padding: 10px 20px;
        font-size: 14px;
    }
    .company-logos ul li{
        padding: 5px 15px;
        text-align: center;
    }
}

/*--------------------------------
        Products Style
---------------------------------*/
.products {
    margin-top: 140px;
    margin-bottom: 50px;
}
.products h2, .feedback h2{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.products h3, h5{
    font-weight: 500;
}
.products h5{
    font-size: 18px;
}
.products p{
    font-size: 14px;
    color: #787885;
    width: 70%;
    font-weight: 500;
}
.product-boxes{
    display: grid;
    margin: 50px;
    grid-template-columns: repeat(3, 1fr);
}
.product-card {
    width: 300px;
    height: 450px;
    box-shadow: 0 0 3px 0px #c9c5c5;
    border-radius: 10px;
    margin: 20px auto;
}
.product-card img{
    width: 100%;
}
.product-card img, .product-card .product-content{
    padding: 12px;
}
.product-card ul{
    display: flex;
    margin: 7px 0;
}
.product-card ul i{
    color: #FB8200;
    font-size: 12px;
}
.product-card ul li:last-child{
    margin-left: 8px;
    font-size: 14px;
    margin-top: 3px;
}
.products .see-more {
    text-align: right;
    margin-top: 5%;
    margin-right: 7%;
}
.products .see-more a{
    color: var(--primary-color);
    font-weight: 500;
}

/*----------------Product Responsive------------------*/
@media (min-width: 320px) and (max-width:600px){
    .product-boxes {
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .products h2 {
        margin-bottom: 20px;
    }
}

/* tablet respnosive */
@media (min-width: 601px) and (max-width:1000px){
    .product-boxes {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*---------------------------------
            Client Section
-----------------------------------*/
.feedback{
    margin-top: 100px;
}
.feedback h2{
    margin-bottom: 50px;
}
.feedback .client-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.feedback .client-img img{
    width: 100%;
    height: 100%;
}
.client-content{
    margin-top: 10px;
}
.clients{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.client-box{
    text-align: center;
    width: 270px;
    height: 350px;
    box-shadow: 0 0 3px #000;
    margin: 10px 15px 70px 15px;
    border-radius: 5px;
    padding: 10px;
}

/*------------Clients Style------------*/
@media (max-width:1000px){
    .clients{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 320px) and (max-width: 601px){
    .clients{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 50px;
    }
    .client-box{
        margin: 20px auto;
    }
}

/*----------------------------------
            Footer Style
------------------------------------*/
footer{
    width: 100%;
    height: 200px;
    background: #0A0826;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer h3{
    font-size: 24px;
    font-weight: 600;
}
footer p{
    font-size: 14px;
    color: #D9DBE1;
}
footer ul{
    display: flex;
}
footer ul li i{
    color: #D9DBE1;
    margin-top: 10px;
    padding: 10px
}